{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-xl mt-3 text-center">
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-12 col-sm-12 col-12 shadow mb-4" style="background-color: white;">
            <h5 id="about"class="mt-4 ms-4">
                Кто мы ?
            </h5>
            <div class="text-start ms-4">
                {{page.aboutUs | richtext}}
            </div>

            <h5 id="targets" class="mt-4 ms-4">
                Цели и задачи проекта
            </h5>
            <div class="text-start ms-4">
                {{page.targets | richtext}}
            </div>

            <h5 id="invites" class="mt-4 ms-4">
                Приглашение к сотрудничеству
            </h5>
            <div class="text-start ms-4">
                {{page.invites | richtext}}
            </div>

            <h5 id="contacts" class="mt-4 ms-4">
                Контакты
            </h5>
            <div class="text-start ms-4">
                {{page.contacts | richtext}}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
