{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div id="homepage" class="container-xxl my-3 text-center">
    <div style="height: 5px;"></div>
    <div class="d-flex flex-nowrap flex-column flex-lg-row justify-content-center mt-5 mb-md-1">
        <div class=" mb-3 order-1 order-lg-0">
            <img class="leftlogoimage" src="{% static 'imgs/krt.svg'%}">
        </div>
        <div class=" mb-5 text-center order-0 order-lg-1">
            <div class="icons">
                <a href="https://vk.com/anti_krt_spb" target="_blank">
                    <img class=" me-2" src="{% static 'imgs/vk.svg'%}" alt="наша группа вконтакте"></a>
                <a href="https://www.youtube.com/@user-kj7xn2he8z" target="_blank">
                    <img class=" me-2" src="{% static 'imgs/youtube.svg'%}" alt="наш ютуб канал"></a>
                <a href="https://t.me/chat_anti_krt" target="_blank">
                    <img class="" src="{% static 'imgs/telegram.svg'%}" alt="мы в телеграм"></a>
            </div>
            <h2 class="textlogo mt-4">
                МЫ <span class="redtext">ПРОТИВ</span> ЗАКОНА <br> О КОМПЛЕКСНОМ РАЗВИТИИ <br> ТЕРРИТОРИЙ
            </h2>
            <a href="https://kpt.mo-spb.ru/" class="btn btn-primary buttons rounded-5 mt-3 px-5" tabindex="-1" role="button" aria-disabled="true" target="_blank">КАРТА чатов ДОМОВ</a>
        </div>
        <div class="mb-3 d-none d-xl-block order-2">
            <img class="rightlogoimage" src="{% static 'imgs/rightlogo.png'%}">
        </div>
    </div>
    <div class="row text-start rounded-4 px-md-4 mt-5 mx-1 mx-md-3 mb-5 mx-lg-0 infobox">
        <div style="height: 60px;"></div>
        <div class="d-flex flex-column flex-lg-row flex-nowrap mb-3">
            <h3 class="text-start ms-5 me-0 me-md-5  order-1 order-lg-0 flex-fill textlogo2">
                ЗДЕСЬ ВЫ СМОЖЕТЕ УЗНАТЬ
            </h3>
            <div class="text-start text-lg-end mx-5 mb-4 mb-lg-0 order-0 order-lg-1">
               <a href="https://kpt.mo-spb.ru/" class="btn btn-danger buttons rounded-5 px-5" tabindex="-1" role="button" aria-disabled="true" target="_blank">Видео по КРТ</a>
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row mb-3">
            <div class=" text-start">
                <ul class="mx-md-5">
                    <li class="ps-3 mb-3">
                        {{ page.related_page.home.r1|richtext }}
                    </li>
                    <li class="ps-3 mb-3">
                        {{ page.related_page.home.r2|richtext }}
                    </li>
                    <li class="ps-3">
                        {{ page.related_page.home.r4|richtext }}
                    </li>
                </ul>
            </div>
            <div class="text-start infobox">
                <ul class="mx-md-5">
                    <li class="ps-3 mb-3">
                        {{ page.related_page.home.r3|richtext }}
                    </li>
                    <li class="ps-3 mb-3">
                        {{ page.related_page.home.r5|richtext }}
                    </li>
                    <li class="ps-3 ">
                        {{ page.related_page.home.r6|richtext }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row mt-lg-5">
        <div id="krtnewsheader" class="align-items-center textlogo2 mb-3 text-start">
                    Новости канала
                </div>
        <div class="d-flex flex-column flex-lg-row">
            <div  class="col-lg-6 me-4 text-start" >
                
                <div id="krtnews" class="d-flex flex-column text-start">
                    
                </div>
                <div class="subtitle mt-2">
                    <a href="https://t.me/channel_anti_krt" class="btn btn-outline-danger subtitle buttons rounded-5 px-3" tabindex="-1" role="button" aria-disabled="true" target="_blank">Читать новости на канале</a>
                </div>
            </div>
            <div class="col-lg-6 text-center" >
                <figure class="figure mb-3">
                    {% image page.related_page.home.bottomLogo width-550 class="figure-img img-fluid rounded" %}
                </figure>
                <a href="https://vk.com/anti_krt_spb" class="btn btn-primary buttons rounded-5 mt-5 px-5" tabindex="-1" role="button" aria-disabled="true" target="_blank">Наша группа в контакте</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}